<div class="equation-row-inner">
    @for (int i = 0; i < Equation.Variables.Count; i++)
    {
        <InputComponent State="Equation.Variables[i]" OnChanged="@OnChanged" />

        <span class="var">@AppState.GetVariableName(i)</span>

        @if (i < Equation.Variables.Count - 1)
        {
            <span class="plus">+</span>
        }
    }
    
    <span class="equals">=</span>

    <InputComponent State="Equation.FreeMember" OnChanged="@OnChanged"/>
</div>

@code {
    [Parameter] public required EquationState Equation { get; set; }
    [Parameter] public EventCallback OnChanged { get; set; }
}


