.info-drawer {
    position: fixed;
    top: 5vh;
    height: 90vh;
    width: 500px;
    left: -500px;

    background-color: #161412;
    border: 1px solid #3D3935;
    border-right: none;
    border-radius: 0 12px 12px 0;

    transition: left 0.4s cubic-bezier(0.05, 0.7, 0.1, 1);
    z-index: 999;
    box-shadow: -15px 0 30px rgba(0,0,0,0.6);
}

.info-drawer.open {
    left: 0;
}

.drawer-handle {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 70px;
    background-color: #161412;
    border: 1px solid #3D3935;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66BB6A;
    opacity: 40%;
}

.drawer-handle:hover {
    opacity: 1;
}

.drawer-content {
    padding: 10px 15px;
    font-family: 'Consolas', monospace;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drawer-content h3 {
    color: #66BB6A;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.drawer-description{
    color: #5c636a;
}

.drawer-description p {
    font-size: 0.85rem;
    margin-bottom: 4px;
}

.drawer-hr {
    border: 0;
    border-top: 1px solid #3D3935;
    margin: 20px 0;
}

.drawer-manual {
    list-style: none;
    padding: 0;
    font-size: 0.82rem;
    color: #A09B94;
}

.drawer-manual li {
    margin-bottom: 10px;
    line-height: 1.25;
}

/* Styling for buttons mentioned in text */
kbd {
    background-color: #3D3935;
    border-radius: 3px;
    border: 1px solid #4A453F;
    color: #E8E2D8;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 5px;
    white-space: nowrap;
    font-family: 'Consolas', monospace;
}

.k-add { color: #66BB6A; }
.k-del { color: #E57373; }

.highlight {
    color: #E8E2D8;
}

.drawer-joke {
    margin-top: 4px;
    padding: 12px;
    background: rgba(0,0,0,0.2);
    border-left: 2px solid #4A453F;
    color: #6c757d;
}

.drawer-joke p {
    font-size: 0.75rem;
    line-height: 1.3;
}

.drawer-joke .sub-text {
    font-size: 0.7rem;
    opacity: 0.5;
    margin-top: 12px;
    color: #6c757d;
}

.drawer-footer {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 0.7rem;
    color: #4A453F;
}











